Django>=1.8,<1.9
# MySQL/MariaDB
#MySQL-python==1.2.5
# MySQL-python alternative: https://github.com/PyMySQL/mysqlclient-python
#PyMySQL==0.6.2
# PostgreSQL
#psycopg2==2.5.3
docutils==0.12
django-extensions==1.4.6
dj-database-url==0.3.0
django-cache-url==0.8.0
gunicorn==19.1.1
gevent==1.0.1
six==1.8.0
